In [3]:
import numpy as np
import matplotlib.pyplot as plt

from scipy.optimize import linprog
import pandas as pd

In [7]:
data = pd.read_csv('/Users/kurtbembridge/Downloads/DKSalaries.csv')
data.head()

,Position,Name + ID,Name,ID,Roster Position,Salary,Game Info,TeamAbbrev,AvgPointsPerGame
0,PF/C,Giannis Antetokounmpo (21674676),Giannis Antetokounmpo,21674676,PF/C/F/UTIL,12200,MIL@UTA 03/14/2022 10:00PM ET,MIL,57.97
1,PF/C,LeBron James (21674476),LeBron James,21674476,PF/C/F/UTIL,12000,TOR@LAL 03/14/2022 10:30PM ET,LAL,54.88
2,PG,Stephen Curry (21674525),Stephen Curry,21674525,PG/G/UTIL,10000,WAS@GSW 03/14/2022 10:00PM ET,GSW,46.14
3,PF,DeMar DeRozan (21674549),DeMar DeRozan,21674549,PF/F/UTIL,9800,CHI@SAC 03/14/2022 10:00PM ET,CHI,44.29
4,PG,De'Aaron Fox (21674906),De'Aaron Fox,21674906,PG/G/UTIL,9700,CHI@SAC 03/14/2022 10:00PM ET,SAC,38.73

In [9]:
data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
ID,190.0,2.167478e+07,183.208568,21674469.0,2.167462e+07,2.167477e+07,21674932.50,21675098.00
Salary,190.0,4.153684e+03,1957.771680,3000.0,3.000000e+03,3.000000e+03,4300.00,12200.00
AvgPointsPerGame,190.0,1.425011e+01,13.045313,0.0,4.175000e+00,1.147500e+01,20.49,57.97

In [11]:
#!pip install pulp

In [12]:
data['Roster Position'].value_counts()

PG/G/UTIL         33
C/UTIL            31
PF/F/UTIL         27
PG/SG/G/UTIL      24
SG/SF/F/G/UTIL    21
PF/C/F/UTIL       14
SG/G/UTIL         14
SF/F/UTIL         14
SF/PF/F/UTIL      11
PG/SF/F/G/UTIL     1
Name: Roster Position, dtype: int64